/* Search */
.search-bar-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 16px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  box-sizing: border-box;
}

.search-icon {
  margin-right: 8px;
  color: #666;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #333;
  background-color: transparent;
}

.search-wrapper {
  max-width: 600px;
  margin: 0 auto;
}


/* Main Page Button */
.menu-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
  max-width: 400px;
  margin: 0 auto;
}

.menu-btn {
  background-color: #0066ff;
  border-radius: 16px;
  padding: 24px 12px;
  text-align: center;
  text-decoration: none;          /* 밑줄 제거  */
  color: #ffffff;                    /* 기본 텍스트 색상 */
  font-size: 1rem;
  font-weight: 600;
  aspect-ratio: 1 / 1;             /* 정사각형 박스 유지 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
}

.menu-btn:hover {
  background-color: #004ec2;
}


.icon {
  font-size: 3rem;              /* 글자크기(16px) 1배  1rem */
}

/*전체 뉴스 더보기 버튼 */



.see-more-button {
  display: block;
  margin: 20px auto;
  padding: 12px 24px;
  background-color: #1890ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.see-more-button:hover {
 background-color: #1474cc;
}

/*메인 헤더 */

.main-page-header {
  background-color: #f7f9fc;  /* 연한 회색 톤 */
  padding: 12px 16px 12px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  box-shadow: none;
}

.main-page-header p {
  font-size: 1.05rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}


.main-page-header .search-bar {
  max-width: 600px;
  margin: 0 auto;
}

.hero-subtitle {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
}

.hero-subtitle strong {
  font-weight: 600;
  color: #3b49df;
}



.disabled-guide-bar {
  display: flex;
  align-items: center;
  background-color: #f4f6f8;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  cursor: default;
}

.disabled-guide-bar .search-icon {
  font-size: 20px;
  margin-right: 12px;
  color: #ff6b00; /* 강조 색 */
}

.search-guide-text {
  color: #444;
  font-size: 14px;
  line-height: 1.5;
  pointer-events: none;
  
}
